*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* header part css */
header{
    background: rgba(229, 84, 115, 0.10);
   
}
/* home part css */
.home{
   
    height: 90vh;
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-text{
    max-width: 585px;
}
.home-text h1{
    color: #272727;
    font-family: Lato;
    font-size:45px;
    font-weight: 800;
    margin-bottom: 16px;
}
.home-text p{
    color: rgba(39, 39, 39, 0.60);
    font-family:Lato;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
    text-align: justify;

}
.btn-prymary{
    padding:15px 35px;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    text-transform: uppercase;
    border:none;
    transition:0.5s;
}
.btn-prymary:hover{
    background: #333;
    color:#fff;
}
.home-image{
    width:685px;
    padding:70px;
}
.home-image img{
    max-width:100%;
}
/* future-part style */
#future-part{
    padding:70px 130px 50px 120px;
    
}
.future-hade{
    display: flex;
    text-align:center;
    justify-content: center;
}
.future-title{
    width: 50%;
}
.future-title h2{
    color: #272727;
    text-align: center;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.future-title p{
    color: rgba(39, 39, 39, 0.60);
    font-family:Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.future-image{
    display:flex;
    justify-content:space-around;
    gap:10px;
  
}
.single-future-image{
    width: 234px;
    height: 310px;
    border-radius: 250px 250px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    padding:43px;
    
}
.future-image-main{
    margin-top: 50px;
}
.nd{
    background: rgba(5, 151, 160, 0.15)
}
.rd{
    background: rgba(71, 125, 17, 0.15);
}

.single-future-image img{
    width: 100%;
    height: 100%;
}
.future-image-main h4{
   
    text-align: center;
    font-family:Lato;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 700;
    color: #272727;
    line-height: 35px;
    margin-top: 40px;
    
}
/* sales style part */
.sales-update{
    background: rgba(229, 84, 115, 0.05);
    padding: 89px 100px 20px 150px;
   
}
.sales-main{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sales-about{
    width: 494px;
    margin-right: 100px;
}
.sales-about h2{
    font-size: 35px;
    color: #272727;
    font-family: Lato;
    font-weight: 800;
    margin-bottom: 20px;

}
.sales-about p{
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: justify;
}
.salse-img{
    width: 318px;
    height: 420px;
}
.salse-img img{
    width: 100%;
    height: 100%;
}
/* proudct styles */
 #product{
    padding:70px 130px 50px 120px;
 }
.product-head{
    display: flex;
    text-align:center;
    justify-content: center;
}
.product-title{
    width: 50%;
}
.product-title h2{
    color: #272727;
    text-align: center;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.product-title p{
    color: rgba(39, 39, 39, 0.60);
    font-family:Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.product-image-part{
    margin-top:50px;
}
.product-image-part{
    display:flex;
    justify-content: space-evenly;
    gap:10px

}
.product-single-img{
    width: 250px;
    height: 340px;
}
.product-single-img img{
    width:100%;
    height: 80%;
}
/* leasts styles parts */
.Latest-Deals{
    padding:70px 130px 50px 120px;
    
}
.letes-background{
    background-image: url(../image/Rectangle\ 9.png),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 330px;
    background-blend-mode: overlay;
}
.main-latest{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.letes-title h2 {
    font-size:35px; 
    text-align: center;
    font-family:Lato;
    color: #272727;
    font-weight: 800;
    margin-bottom: 10px;
}
.letes-title h5{
    font-size: 18px;
    text-align: center;
    font-family: Lato;
    color: rgba(46, 45, 45, 0.6);
    margin-bottom: 10px;
}
.letes-title input[type="email"]{
    padding: 15px 100px 15px 24px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    margin-top: 24px;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 600;
    text-align: justify;
    
}
