*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* header part css */
header{
    background: rgba(229, 84, 115, 0.10);
   
}
/* home part css */
.home{
   
    height: 90vh;
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-text{
    max-width: 585px;
}
.home-text h1{
    color: #272727;
    font-family: Lato;
    font-size:45px;
    font-weight: 800;
    margin-bottom: 16px;
}
.home-text p{
    color: rgba(39, 39, 39, 0.60);
    font-family:Lato;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
    text-align: justify;

}
.btn-prymary{
    padding:15px 35px;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    text-transform: uppercase;
    border:none;
    transition:0.5s;
}
.btn-prymary:hover{
    background: #333;
    color:#fff;
}
.home-image{
    width:685px;
    padding:70px;
}
.home-image img{
    max-width:100%;
}
/* future-part style */
#future-part{
    padding: 70px 30px 50px 150px;
    
}
.future-hade{
    display: flex;
    text-align:center;
    justify-content: center;
}
.future-title{
    width: 50%;
}
.future-title h2{
    color: #272727;
    text-align: center;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.future-title p{
    color: rgba(39, 39, 39, 0.60);
    font-family:Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.future-image{
    display:flex;
    justify-content:space-around;
    align-items: center;
    gap:20px;
  
}
.single-future-image{
    width: 234px;
    height: 310px;
    border-radius: 250px 250px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    padding: 43px;
    
}

.single-future-image img{
    width: 100%;
}
.single-future-image h4{
   
    text-align: center;
    font-family:Lato;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 700;
    color: #272727;
    line-height: 35px;
    margin-top: 40px;
    display: inline;
}

.nd{
        margin-top:10px;
}
